<!DOCTYPE html>
<html>
<head>
	<title>website1</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
    <link href="{{ url_for('static', filename="bootstrap/css/theme/" + theme + "/bootstrap.css") }}" rel="stylesheet">


</head>
<body>
	
	<div class="row">
		<div class="col-md-4 border">
			<a href="/info" class="indent">home</a>
		</div>
		<div class="col-md-8 border">
			<a href="/" class="indent">back</a>
		</div>
	</div>
	<hr>

	<h1><span class="back">Yash </span>
		 Patel
	</h1>

	<ul>
		<li>hello</li>
		<li>hello2</li>
		<li>hello3</li>
	</ul>

</body>
</html>

